<header>
    <nav class="navbar">
        <section class="topnav">
            <a href="/catalog">Home</a>

            <div *ngIf="isLogged">
                <a class="button" href="/create">Create</a>
                <a class="button" href="/profile">Profile</a>
                <a class="button" (click)="logout()" >Logout</a>
            </div>
            <div *ngIf="!isLogged">
                <a class="button" href="/login">Login</a>
                <a class="button" href="/register">Register</a>
            </div>
        </section>
    </nav>
</header>