button{
    text-decoration-line: none;
    color: rgb(249, 250, 249);
    text-align: center;
    background-color: #0fa15d;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
}
button:hover {
    background-color: rgb(192, 253, 190);
    color: #014421;
    transition: 0.5s;
  }
input{
    width: 300px;
    padding: 4px;
}
#profile{   
    margin: 50px 35px;
}
.flex{
    margin: 20px 0px;
}
p{
    margin: 10px 0px;
}
.text-description{
    font-weight: bold;
}