<form #form="ngForm" (ngSubmit)="createHandler(form)">
    <fieldset>
        <legend>Create</legend>

        <label>Name: </label>
        <input type="text" name="themeName" id="themeName" #themeNameInput="ngModel" ngModel required minlength="3" />
        <ul *ngIf="themeNameInput.invalid && themeNameInput.touched" class="errors">
            <li *ngIf="themeNameInput.errors?.['required']">Name is required.</li>
            <li *ngIf="themeNameInput.errors?.['minlength']">Name must be at least 3 charecters long.</li>
        </ul>

        <label >Description: </label>
        <input name="postText" id="postText" #postTextInput="ngModel" ngModel required minlength="3" />
        <ul *ngIf="postTextInput.invalid && postTextInput.touched" class="errors">
            <li *ngIf="postTextInput.errors?.['required']">Description is required.</li>
            <li *ngIf="postTextInput.errors?.['minlength']">Description must be at least 3 charecters long.</li>
        </ul>
        <!-- <label >Location: </label>
        <input type="text" name="location" id="location" #locationInput="ngModel" ngModel required minlength="3" />
        <ul *ngIf="locationInput.invalid && locationInput.touched" class="errors">
            <li *ngIf="locationInput.errors?.['required']">Name is required.</li>
            <li *ngIf="locationInput.errors?.['minlength']">Name must be at least 3 charecters long.</li>
        </ul>
        <label>Image: </label>
        <input type="text" name="imageUrl" id="imageUrl"  #imgUrlInput="ngModel" ngModel required/>
        <ul *ngIf="imgUrlInput.invalid && imgUrlInput.touched" class="errors">
            <li *ngIf="imgUrlInput.errors?.['required']">Name is required.</li>
        </ul> -->


        <button>Create</button>

    </fieldset>
</form>